[Unit]
After=network.target
Description=Api for edu.xiver.ru

[Service]
Type=simple
ExecStart=/opt/xiver/testing-system/api/scripts/start.sh
ExecStop=/opt/xiver/testing-system/api/scripts/stop.sh
Restart=always
RestartSec=3

[Install]
WantedBy=default.target