@import '../../config.scss';


.header {
    background-color: $header-color;
    width: 100vw;
    height: 50px; 
}

.loginButtons {
    display: flex;
    align-items: center;
    float: right;
    padding: 0 10px;

    height: 50px;
    padding-right: 10px;
}

.loginButton {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 1 auto;
    margin: 0 10px;

    height: 45px;
    width: 45px;

    background-color: $header-color;
    border: none;
    border-radius: 10%;
}

.loginButton:hover {
    background-color: $button-hover-color;
}

.loginButton:active {
    background-color: $button-hover-active;
    box-shadow: 0 2px #666;
}

.registredButton {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 1 auto;
    margin: 0 10px;

    height: 45px;

    background-color: $header-color;
    border: none;
    border-radius: 10%;
}

.registredButton:hover {
    background-color: $button-hover-color;
}

.registredButton:active {
    background-color: $button-hover-active;
    box-shadow: 0 2px #666;
}

.Accaunt {
    display: flex;
    align-items: center;
    float: right;
    padding: 0 10px;

    height: 50px;
    padding-right: 10px;
}

.NotifyButton {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 1 auto;
    margin: 0 10px;

    height: 45px;
    width: 45px;

    background-color: $header-color;
    border: none;
    border-radius: 50%;
}

.NotifyButton:hover {
    background-color: $button-hover-color;
}

.NotifyButton:active {
    background-color: $button-hover-active;
    box-shadow: 0 2px #666;
}

.notyfiImg {
    height: 45px;
    width: 45px;
}

.AccauntButton {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 45px;

    background-color: $header-color;
    border: none;
    border-radius: 10%;
}

.AccauntButton:hover {
    background-color: $button-hover-color;
}

.AccauntButton:active {
    background-color: $button-hover-active;
    box-shadow: 0 2px #666;
}

.accauntIco {
    height: 45px;
    width: 45px;

    border-radius: 60%;

    padding-right: 10px;
}
