$button-hover-active: #5a6859a2;
$button-hover-color: #667e63a1;
$header-color: #6CAB65;
$bg-color: #2C3F2A;
$font-color: #FFF;

// ======================= modal window =======================
// main model
$bg-color-modal: rgba(0, 0, 0, 0.4);

// content model
$bg-color-modal-content: #2C3F2A;
$font-color-modal-content: #FFF;