@import './config.scss';

button {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 1 auto;
    margin: 0 10px;

    background-color: $header-color;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: $button-hover-color;
}

button:active {
    background-color: $button-hover-active;
    box-shadow: 0 2px #666;
}

input {
    border-radius: 5px;
}
