@import './config.scss';

*{
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 65.0685px;
  line-height: 79px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 20vh;
  background-color: $header-color;
}

.main_content{
  background-color: $bg-color;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.auth_form{
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  input{
    color: #000;
    width: 45vw;
    margin-bottom: 5vh;
  }
}
